body {
    background-color: black;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputbox {
    display: flex;
    flex-direction: column;
}

input {
    width:200px;
    height:20px;
    background-color: black;
    border-color: white;
    color: white;
}

.forminput {
    display: flex;
    justify-content: flex-start;
    column-gap: 120px;
} 
