body {
    background-color: black;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputbox {
    display: flex;
    flex-direction: column;
}

input {
    width:200px;
    height:20px;
    background-color: black;
    border-color: white;
    color: white;
}

.forminput {
    display: flex;
    justify-content: flex-start;
    column-gap: 120px;
} 

#btnadd {
    padding: 10px;
    margin-bottom: 10px;
}

#commentred {
    color: red;
}

#commentgreen {
    color:green;
}

.blkdivclass {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 10px;
    margin: 10px;
}

.blkdivclass {
    border: 2px solid white;
    max-width: fit-content;
} 